body{
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;  
}

.header-bg{
    background-image: url("images/header-bg.png") ;
    background-repeat: no-repeat;
    background-size: 1700px 700px;
}

.info-div{
    width: 40%;
    padding-top: 10px;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

#texts{
    margin-left: 150px;
    padding-top: 130px;
}

h1.intro{
    font-size: 50px;
    line-height: .5;
}

.info-div img{
    width: 90%;
    /* height: auto;  */
     margin-top: 30px;
}

.link-button{
    margin-top: 50px;
    text-decoration: none;
    background-image: linear-gradient(45deg, #ff4d94, #ff80b3) ;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;

}

.btn{
    margin-top: 50px;
}

.link-button:hover{
    background-image: linear-gradient(45deg, rgb(47, 112, 165), rgb(235, 220, 19)) ;
} 

.name-highlight{
    color:#ff4d94;
}

.name-highlight:hover{
    font-size: 400%;
    color:  #ff3385;
}

.intro-para{
    padding-top: 15px;
    font-size: 20px;
}

section{
    height: 600px;
    padding-bottom: 90px;
}



.biography{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: 1700px 700px;
}

.bio img{
    width: 80%;
    /* height: auto;  */
     margin-top: 30px;
}

.bio{
    width: 40%;
    padding-top: 30px;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

#scnd{
    margin-top: 100px;
    padding : 60px;
}

h2.bio-text{
    font-size: 25px;
    line-height: 1;
}


.latest-work{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: 1700px 700px;
}

.ltst-wrk-img img{
    width: 30%;
    float: left;
    padding-right: .8%;
    padding-left: .8%;
}

.img-allign{
    padding-top: 50px;
    margin-left: 4.4%;
}

h2.ltst-wrk-txt{
    font-size: 30px;
    text-align: center;
}

.ltst-wrk-sub-div{
    padding-top: 50px;
}



.clients-remarks{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 1700px 700px;
}

.clnts{
    text-align: center;
}

.cntct-link-button{
    text-decoration:none;
    background-image: linear-gradient(20deg,hotpink,deeppink);
    padding:10px 20px;
    border-radius:10px;
    color:white;
    font-weight:500;
    margin-top:5%;
    display:block;
}

/* cntct-link-button{
    color: white;
    text-decoration: none;
} */

.cntct-btn{
    width:50%;
    margin:auto;
}

.clnt-info-1{
    font-size: 20px;
    line-height: .5;
}

.clnt-info{
    padding-bottom: 5px;
    padding-top: 15px;
    font-weight: lighter;
    
}

.what-says{
    padding-bottom: 20px;
    color: gray;
}

.ftr{
    text-align: center;
    color: gray;
    font-weight: lighter;
    padding-bottom: 30px;
}

.social{
    margin-left: 90%;
    padding-top:10px;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius:20px;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-github {
  background: #616364;
  color: black;
}



